/* font-family: 'Limelight', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif; */

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: #3a3a3c;
    color: black;
}


.container-fluid {
    margin: 2rem auto;
    width: 90%;
    background-color: #d1d2d4;
    padding-bottom: 2rem;
    
}

h1, h2 {
    font-family: 'Limelight', cursive;
}

h1 {
    font-size: 4.5rem;
    color: #c9252f;
}

h2 {
    font-size: 3rem;
    margin: 15px;
    color: #c9252f;
}


.col-md-6 > h2 {
    text-align: center;
}

#logout {
    display: none;
}

#recent-display {
    display: block;
}

.form-inline .form-group {
    display: inline-block;
}

#register {
    margin-right: 10px;
}

.bg-dark {
    background-color: #d1d2d4!important;
}

.btn-primary {
    color: black;
    background-color: #ebbb4a;
    border-color:#c9252f;
}

.btn-primary:hover {
    color:#ebbb4a;
    background-color: black;
    border-color:#c9252f;
}

.btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #ebbb4a;
    background-color: black;
    border-color: #c9252f;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem #ebbb4a;
}

.form-control {
    border: 1px solid #c9252f;
}





