@font-face {
    font-family: Geotica;
    src: url("./assets/css/Geotica2012-Regular.woff") format("woff"), /* Modern Browsers */
         url("./assets/css/Geotica2012-Regular.ttf")  format("truetype"), /* Safari, Android, iOS */
}

body {
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: black;
}


.container-fluid {
    margin: 8rem auto 0 auto;
    width: 90%;
    background-color: white;
    padding-bottom: 15rem;
    
}

h1, h2 {
    font-family: Geotica;
    color: gold;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
    margin: 15px;
}


#lyrics-display > h2 {
    text-align: center;
}

#logout {
    display: none;
}

#recent-display {
    display: block;
}

.form-inline .form-group {
    display: inline-block;
}

#register {
    margin-right: 10px;
}

.bg-dark {
    background-color: black!important;
}

.btn-primary {
    color: black;
    background-color: gold;
    border-color:white;
}


