body {
    font-family: 'Lato', sans-serif;
    background-color: red;
    color: white;
}
.container-fluid {
    margin: 8rem auto 0 auto;
    width: 90%;
    background-color: black;
    padding-bottom: 15rem;
    
}

h1, h2 {
    font-family: 'Codystar', cursive;
    color: gold;
}


#lyrics-display > h2 {
    text-align: center;
}

#logout {
    display: none;
}

#recent-display {
    display: block;
}

.form-inline .form-group {
    display: inline-block;
}

#register {
    margin-right: 10px;
}

.bg-dark {
    background-color: black!important;
}

.btn-primary {
    color: black;
    background-color: gold;
    border-color:white;
}

